.styleDesign{
    margin-top: -2%;
    width: 246PX;
    height: 219PX;
    border-radius: 0px 0PX 8PX 8PX;
    background-color: #F8ECE0;
    border: 0.5px solid #BDBDBD;
    //border-top: 0;
    margin-top: -5%;
}