@import "style";

.btnProfile{
float: left;
margin-left: 10%;
background: #F8ECE0;
border: 0.5px solid #424242;
border-bottom: 0cm;
box-sizing: border-box;
color: #424242;
text-align: center;
border-radius: 0px;
}
.btnPosts,.btneSkills,.btnProjects{
background: #FBF8EF;
color: #424242;
border: 0ch;
text-align: center;
}
.btnProfile:hover,.btnPosts:hover,.btneSkills:hover,.btnProjects:hover{
    animation-duration: 1s;
    background-color: #F8ECE0;
}
.LIGNE{
    width: 450PX;
    height: 1PX;
    float: right;
    margin-right: 43.4%;
    margin-top: -1px;
}
.photoProfil{
    width: 142PX;
    height: 142PX;
    margin-left: 48%;
    float: left;
    margin-top: 10px;
}
.lien2 {  
    color:$primary-color;
    text-decoration: none;
}
.photoSvg1,lien2{
    display: inline;
    margin-left: 48%;
    margin-bottom: 6px;
}
.TableLeft{
    float: left;
    width: 500PX;
    margin-left: -23%;
}
.tableRight{
    width: 1000PX;
    margin-bottom: 0px;
    margin-left: -45%;
}
.Ecriture{
    margin-left: 43%;
}
.EcritureTitre{
    font-size: 16px;
    font-weight: bold;
}
.photoSvg2,.EcritureTitre{
    display: inline;
}
.photoSvg{
    width: 20px;
    height: 20px;
    margin-left: 26px;
    margin-top: 1PX;
}
.photoSvg1{
    width: 20px;
    height: 20px;
    margin-top: 1PX;
}
.photoSvg2{
    width: 20px;
    height: 20px;
    margin-top: -4PX;
    margin-left: 40%;
}
.photoSvg3{
    width: 60px;
    height: 14px;
}
