.btneSkills2{
    background: #F8ECE0;
    border: 0.5px solid #424242;
    border-bottom: 0cm;
    box-sizing: border-box;
    color: #424242;
    text-align: center;
    border-radius: 0px;
    }
.btnProfile2,.btnPosts2,.btnProjects2{
    background: #FBF8EF;
    color: #424242;
    border: 0ch;
    text-align: center;
    }
.btnProfile2{
    float: left;
    margin-left: 10%;
    }
.btnProfile2:hover,.btnPosts2:hover,.btneSkills2:hover,.btnProjects2:hover{
    animation-duration: 1s;
    background-color: #F8ECE0;
    }
.LinePostSkills{
    width: 300;
    height: 1PX;
    float: right;
    margin-right: 66.5%;
    margin-top: -0.5px;
    }
.LinePostSkills2{
    width: 150;
    height: 1PX;
    float: right;
    margin-right: 43.4%;
    margin-top: -0.6;
    }
.btnB{
    margin-left: 10%;
    }
.btnB,.btnF,.btnD,.btnBD{
    width: 246;
    background: #F8ECE0;
    color: #424242;
    //border: 1ch;
   // border: 0.5px solid #424242;
    border: 0.5px solid #BDBDBD;
    text-align: center;
    margin-top: 1.3%;
}
.btnB:hover,.btnF:hover,.btnD:hover,.btnBD:hover{
    animation-duration: 1s;
    background-color: #D77F4A;
}
.area1{
    margin-top:4%;
    text-align: center;
    font-size: 30PX;
    color: $styleColor;
    letter-spacing: 0.5px;
    font-weight: 500;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff; 
}
.LineSkills{
    width: 730px;
    height: 1PX;
    float: right;
    margin-right: 23.7%;
    margin-top: 14.5px;
     border: 0.5px solid #BDBDBD;
}
.LineSkills1{
    width: 38px;
    height: 1PX;
    transform: rotate(-90deg);
    margin-top: 11px;
    margin-left: 228PX;
    border: 0.5px solid #BDBDBD;
}
.LineSkills2{
    width: 38px;
    height: 1PX;
    transform: rotate(-90deg);
    margin-top: 11px;
    margin-left: 200PX;
    border: 0.5px solid #BDBDBD;
}
.LineSkills3{
    width: 38px;
    height: 1PX;
    transform: rotate(-90deg);
    margin-top: 8px;
    margin-left: 445PX;
    border: 0.5px solid #BDBDBD;
}
.LineSkills4{
    width: 38px;
    height: 1PX;
    transform: rotate(-90deg);
    margin-top: -7px;
    margin-left: 728PX;
    border: 0.5px solid #BDBDBD;
}
.details{
    width: 10px;
    height: 10px;
    margin-right: -50px;
    margin-top: -2PX;
    margin-left: 69px;
}
.BE{
    display: none;
}

