.btnPosts1{
    background: #650000;
    border: 0.5px solid $primary-color;
    border-bottom: 0cm;
    box-sizing: border-box;
    color: $primary-color;
    text-align: center;
    border-radius: 0px;
    }
.btnProfile1,.btneSkills1,.btnProjects1{
    background: black;
    color: $primary-color;
    border: 0ch;
    text-align: center;
    border-radius: 0px;
    }
.btnProfile1:hover,.btnPosts1:hover,.btneSkills1:hover,.btnProjects1:hover{
    animation-duration: 1s;
    background-color: #3B3B3B;
    }
.LinePost{
    width: 13%;
    height: 2PX;
    float: right;
    //margin-right: 87%;
    margin-right: 87.2%;
    margin-top: -2px;
}
.LinePost2{
    width: 26%;
    height: 2PX;
    //float: right;
    //margin-right: 48%;
    margin-left: -74.2%;
    margin-top: -2px;
}
.EcritureTitrePost{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: bold;
    //margin-left: 42%;
    color: #535353;
    height: 6%;
}
.ImgExp{
    width: 73%;
    height: 239%;
    margin-left: 10%;
    margin-top: 7%;
}
.imgPost{
    width: 12%;
}
.Point{
    width: 7px;
    height: 7px;
    float: left;
   // margin-left: 5%;
    margin-top: 5PX;
}
.spaceLeft{
    margin-left: 12%;
}
/////////////////////////////////////////- FLEX - ///////////////////////////////////////////////
.EcriturePost{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 2%;
}
.FlexPost{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}
.FlexPostLeft{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    width: 100%;
}
.FlexPostRight{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 7%;
}
.poitionPost,.poitionPost2{
    display: flex;
    flex-direction: column;
    width: 97%;
    height: 200px;
    margin-left: 0%;
    margin-top: 6%;
    padding-left: 2%;
    margin-right: 15%;
    box-shadow: 0px 2px 4px #e0e0e0;
}

///////////////////////- Responsive Design -/////////////////////
/*
@media screen  and (min-width: 625px ) and (max-width: 768px ) {
    .btnProfile1,.btneSkills1,.btnProjects1,.btnPosts1{
        width: 23%;
        font-size: 2vmin;
        padding: 2%;
    }
    .LinePost2{
        width: 46%;
        margin-left: -64.3%;
    }
    .LinePost{
        width: 23%;
    }
    .EcriturePost,.EcritureTitrePost {
        font-size: 12px;
    }
    .poitionPost{
        height: 182px;
    }
    .spaceLeft{
        margin-left: 5%;
     }
  }

  @media screen  and (min-width: 425px ) and (max-width: 469px ) {
    .btnProfile1,.btneSkills1,.btnProjects1,.btnPosts1{
        width: 23%;
        font-size: 2vmin;
        padding: 2%;
    }
    .LinePost2{
        width: 46%;
        margin-left: -64.3%;
    }
    .LinePost{
        width: 23%;
    }
    .EcriturePost,.EcritureTitrePost {
        font-size: 9px;
    }
    .poitionPost{
        height: 146px;
    }
    .spaceLeft{
        margin-left: 5%;
     }
  }
  @media screen  and (max-width: 424px ) {
    .btnProfile1,.btneSkills1,.btnProjects1,.btnPosts1{
        width: 23%;
        font-size: 2vmin;
        padding: 2%;
    }
    .LinePost2{
        width: 46%;
        margin-left: -64.3%;
    }
    .LinePost{
        width: 23%;
    }
    .EcriturePost,.EcritureTitrePost {
        font-size: 7px;
    }
    .poitionPost{
        height: 121px;
    }
    .spaceLeft{
        margin-left: 5%;
     }
     .Point {
        width: 4px;
        height: 4px;
        margin-top: 3PX;
    }
  }
  */
  @media screen  and (min-width: 540px ) and (max-width: 767px ) {
    .btnProfile1,.btneSkills1,.btnProjects1,.btnPosts1{
        width: 23%;
        font-size: 12px;
        padding: 2%;
    }
    .LinePost2{
        width: 46%;
        margin-left: -64.3%;
    }
    .LinePost{
        width: 23%;
    }
    .EcriturePost,.EcritureTitrePost {
        font-size: 13px;
    }
    .EcriturePost{
       margin-top: 17%;
    }
    .poitionPost{
        height: 283px;
        margin-top: 14%;
        //width: 97%;
    }
    .spaceLeft{
        margin-left: 5%;
     }

     .BtnMenu1 {
        margin-top: 3%;
    }
    .FlexPostLeft {
        margin-left: 3%;
    }
    .FlexPostRight {
        margin-right: 3%;
    }
    .FlexPost {
        margin-top: 5%;
    }
    .imgPost {
        width: 40%;
    }
  }
  @media screen  and (min-width: 375px ) and (max-width: 469px ) {
    .btnProfile1,.btneSkills1,.btnProjects1,.btnPosts1{
        width: 23%;
        font-size: 8.5px;
        padding: 2%;
    }
    .LinePost2{
        width: 46%;
        margin-left: -64.3%;
    }
    .LinePost{
        width: 23%;
    }
    .EcriturePost,.EcritureTitrePost {
        font-size: 12px;
    }
    .EcriturePost{
       margin-top: 21%;
    }
    .poitionPost{
        height: 308px;
        margin-top: 14%;
       // width: 97%;
    }
    .spaceLeft{
        margin-left: 5%;
     }
     .BtnMenu1 {
        margin-top: 3%;
    }
    .FlexPostLeft {
        margin-left: 3%;
    }
    .FlexPostRight {
        margin-right: 3%;
    }
    .FlexPost {
        margin-top: 5%;
    }
    .imgPost {
        width: 40%;
    }
  }
  @media screen  and (min-width: 320px ) and (max-width: 374px ) {
    .btnProfile1,.btneSkills1,.btnProjects1,.btnPosts1{
        width: 23%;
        font-size: 8.5px;
        padding: 2%;
    }
    .LinePost2{
        width: 46%;
        margin-left: -64.3%;
    }
    .LinePost{
        width: 23%;
    }
    .EcriturePost,.EcritureTitrePost {
        font-size: 11px;
    }
    .EcriturePost{
       margin-top: 28%;
    }
    .poitionPost{
        height: 284px;
        margin-top: 14%;
       // width: 95%;
    }
    .spaceLeft{
        margin-left: 5%;
     }
     .BtnMenu1 {
        margin-top: 3%;
    }
    .FlexPostLeft {
        margin-left: 3%;
    }
    .FlexPostRight {
        margin-right: 3%;
    }
    .FlexPost {
        margin-top: 5%;
    }
    .imgPost {
        width: 40%;
    }
  }
  @media screen  and (max-width: 319px){
    .btnProfile1,.btneSkills1,.btnProjects1,.btnPosts1{
        width: 23%;
        font-size: 6.5px;
        padding: 2%;
    }
    .LinePost2{
        width: 46%;
        margin-left: -64.3%;
    }
    .LinePost{
        width: 23%;
    }
    .EcriturePost,.EcritureTitrePost {
        font-size: 10px;
    }
    .EcriturePost{
       margin-top: 23%;
    }
    .poitionPost{
        height: 249px;
        margin-top: 14%;
       // width: 87%;
    }
    .spaceLeft{
        margin-left: 5%;
     }
     .BtnMenu1 {
        margin-top: 3%;
    }
    .FlexPostLeft {
        margin-left: 2%;
    }
    .FlexPostRight {
        margin-right: 2%;
    }
    .FlexPost {
        margin-top: 5%;
    }
    .imgPost {
        width: 40%;
    }
  }