.btnProjects3{
    background: #650000;
    border: 0.5px solid $primary-color;
    border-bottom: 0cm;
    box-sizing: border-box;
    color: $primary-color;
    text-align: center;
    border-radius: 0px;
    }
.btnProfile3,.btnPosts3,.btneSkills3{
    background: black;
    color: $primary-color;
    border: 0ch;
    text-align: center;
    border-radius: 0px;
    }
.btnProfile3:hover,.btnPosts3:hover,.btneSkills3:hover,.btnProjects3:hover{
    animation-duration: 1s;
    background-color:#3B3B3B;
    }
.LineWork{
    width: 39.1%;
    height: 2PX;
    //float: right;
    //margin-right: 61%;
    margin-top: -2PX;
    }
.space{
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@keyframes animation-image{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.txt-style2{
    font-size: 12px;
}
.styleImage,.styleImagePLALOG{
    position: relative;
    //width: 350px;
    //height: 150px;
    width: 129%;
    height: 78%;
    margin-top: 15px;
}
.styleImage1,.styleImage1PLALOG{
    position: absolute;
    top: -14px;
    //right: -3px;
    right: -4%;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 5px #fff;
}
.styleImage2,.styleImage2PLALOG{
    position: absolute;
    top: 25px;
    //right: -70px;
    right: -18%;
    width: 100%;
    height: 100%;
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px #fff;
}
img{
    width: 100%;
    height: 100%;
}
.txt-style1{
    @include styleText();
    @include animationText();
    animation-name: animation-workTitle;
    animation-delay: 400ms;
    font-weight: bold;
    font-size: 38px;
    padding-top: 5%;
    width: 65%;
    opacity: 0;  
}
.txt-SPM{
    @include styleText();
    @include animationText();
    animation-name: animation-workTitle;
    animation-delay: 400ms;
    font-weight: bold;
    margin-left: 6%
    }
.txt-style2{
    @include styleText();
    //padding-top: 2%; 
    font-size: 2vmin;
    opacity: 0;
    @include animationText();
    animation-name: animation-workTitle;
    animation-delay: 800ms;
}
.txt-SPM2{
    @include styleText();
    //padding-top: 2%; 
    opacity: 0;
    @include animationText();
    animation-name: animation-workTitle;
    animation-delay: 800ms;
    margin-left: 2%;
    color: #777777;
}
@keyframes animation-workTitle{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.animate__swing{
animation-iteration-count: infinite;
}
.BackGroundLogoSPM{
    position: relative;
    background-color: #FBF8EF;
    border-radius: 2PX;
    width: 55PX;
    height: 36PX;
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px #E0E0E0;

}
.imgLogoSPM{
    position: absolute;
   // width: 33px;
    //height: 32px;
    width: 55%;
    height: 83%;
    margin-left: 22%;
    margin-top: 3%;
}
.DateSPM{
    position: relative;
    background-color: #F8ECE0;
    width: 50px;
    height: 19PX;
    border-radius: 7px;
}
.area3 {
    position: absolute;
margin-left: 25%;
margin-top: 1%;
color: #424242;
font-size: 12px;
font-weight: bold;
letter-spacing: 0.5px;
animation: blur .75s ease-out infinite;
text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
@keyframes blur {
from {
    text-shadow:0px 0px 10px #fff,
    0px 0px 10px #fff, 
    0px 0px 25px #fff,
    0px 0px 50px hsl(209, 67%, 62%),
    0px 0px 150px #5da0df,
    0px 10px 100px #5da0df,
    }
}
.tailleLigne{
    width: 100%;
    height: 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btnVisitsite{
    background-color: black;
   // border: 0.5px solid $primary-color;
    color: $primary-color;
    border-radius: 12PX;
    width: 142%;
    margin-top: 10%;
    padding-top: 8%;
    padding-bottom: 8%;
    //border: 0;
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px #E0E0E0;

}
.btnVisitsite:hover,.btnPopupWork:hover{
    background-color:#3B3B3B;
    animation-duration: 1s;
}
.styleFlech{
    width: 1px;
    height: 86%;
    transform: rotate(-180deg);
   // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   box-shadow: 0px 4px 4px #E0E0E0;

}
.txt-style2 {
    font-size: 14px;
}
.btnSPM{
    background-color:#3B3B3B;
    border: 0ch;
    color: $primary-color;
    border-radius: 12PX;
    margin-left: 132%;
    width: 331%;
    margin-top: 22%;
    padding-top: 20%;
    padding-bottom: 20%;
    box-shadow: 0px 4px 4px #E0E0E0;
}
.btnPopupWorkPLALOG{
    background-color:#3B3B3B;
    border: 0ch;
    color: $primary-color;
    border-radius: 12PX;
    margin-left: 132%;
    width: 331%;
    margin-top: 22%;
    padding-top: 20%;
    padding-bottom: 20%;
    box-shadow: 0px 4px 4px #E0E0E0;
}
//////////////////////////////- Flex -////////////////////////////
.tableStyle{
    display: flex;
    flex-direction: row;
    margin-left: $marginLeft;
    //margin-right: 7%;
    opacity: 0;
    @include animationText();
    animation-name: animation-image;
    animation-delay: 1200ms;
    margin-top: -27%;
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px #E0E0E0;
    padding-left: 2%;
    padding-right: 1%;
    padding-bottom: 2%;
    width: 82%;
    z-index: 5;
}
.tableStylePlalog{
    display: flex;
    flex-direction: row;
    margin-left: $marginLeft;
    opacity: 0;
    @include animationText();
    animation-name: animation-image;
    animation-delay: 1200ms;
    margin-top: 2%;
    box-shadow: 0px 4px 4px #E0E0E0;
    padding-left: 2%;
    padding-right: 1%;
    padding-bottom: 2%;
    width: 82%;
    z-index: 5;
}
.FlexBtn{
    display: flex;
    flex-direction: row;
    //margin-top: -2%;
}
.workLeft,.workLeftPLALOG{
display: flex;
flex-direction: row;
width: 55%;
}
.workRight,.workRightPLALOG{
    width: 27%;
    margin-left: 2%;
}
.FlexSPM{
display: flex;
flex-direction: row;
}
.FlexTXT{
    width: 38%;
}
.FlexPopin{
    display: flex;
    flex-direction: column;
}

///////////////////////- Responsive Design -/////////////////////

@media screen  and (min-width: 540px ) and (max-width: 767px ) {
    .btnProfile3,.btnPosts3,.btneSkills3,.btnProjects3{
        width: 24%;
        font-size: 14px;
        padding: 2%;
    }
    .LineWork {
        width: 72%;
    }
    .txt-style1 {
        font-size: 23px;
        margin-left: 6%;
    }
    .txt-style2 {
        font-size: 14px;
        margin-left: 6%;
    }
    .txt-SPM2{
        font-size: 14px;
        margin-top: -8%;
    }
    .tableStyle,.tableStylePlalog{
        margin-top: -69%;
        margin-left: 4%;
        width: 92%;
    }
    .tableStylePlalog{
       /// margin-top: -69%;
        margin-left: 4%;
        width: 92%;
        margin-top: -1%;
    }
    .workRight, .workRightPLALOG{
        margin-left: 6%;
    }
    .styleImage, .styleImagePLALOG{
        width: 118%;
        height: 71%;
        margin-top: 16%;
    }
    .FlexTXT {
        width: 69%;
    }
    .btnVisitsite {
        margin-top: 8%;
        width: 112%;
    }
    .btnSPM,.btnPopupWorkPLALOG {
        width: 273%;
        margin-left: 46%;
    }
    .FlexBtn {
        margin-top: -7%;
    }
}

@media screen  and (min-width: 375px ) and (max-width: 469px ) {
    .btnProfile3,.btnPosts3,.btneSkills3,.btnProjects3{
        width: 23%;
        font-size: 9px;
        padding: 2%;
    }
    .LineWork {
        width: 69%;
    }
    .txt-style1 {
        font-size: 16px;
        margin-left: 8%;
    }  
    .tableStyle {
        margin-top: -91%;
        width: 86%;
        margin-left: 7%;
    }
    .tableStylePlalog{
        margin-left: 7%;
        width: 86%;
        //margin-top: -4%; 
    }
    .imgLogoSPM {
        width: 72%;
        height: 87%;
        margin-left: 11%;
    }
    .BackGroundLogoSPM {
        width: 27PX;
        height: 30PX;
    }
    .FlexTXT {
        width: 80%;
    }
    .txt-SPM {
        font-size: 11px;
    }
    .area3 {
        font-size: 9px;
        margin-left: 19%;
        margin-top: 8%;
    }
    .DateSPM {
        width: 34px;
        margin-left: 2%;
    }
    .txt-SPM2 {
        font-size: 10px;
        margin-top: -11%;
        margin-left: 4%;
    }
    .styleImage, .styleImagePLALOG {
        width: 120%;
        height: 60%;
        margin-left: 7%;
        margin-top: 22px;
    }
    .styleImage2, .styleImage2PLALOG {
        top: 16px;
    }
    .btnSPM,.btnVisitsite,.btnPopupWorkPLALOG {
        font-size: 9px;
        border-radius: 8px;
    }
    .FlexBtn {
        margin-top: -11%;
    }
    .txt-style2 {
        font-size: 12px;
        margin-left: 8%;
    }
    
}

@media screen  and (min-width: 320px ) and (max-width: 374px ) {
    .btnProfile3,.btnPosts3,.btneSkills3,.btnProjects3{
        width: 24%;
        font-size: 2vmin;
        padding: 2%;
    }
    .LineWork {
        width: 72%;
    }
    .PositionButton {
        margin-left: 4%;
    }
    .txt-style1 {
        font-size: 16px;
        margin-left: 4%;
    }
    .txt-style2 {
        font-size: 12px;
        margin-left: 4%;
    }
    .tableStyle {
        margin-top: -102%;
        width: 92%;
        margin-left: 4%;
    }
    .tableStylePlalog {
        width: 92%;
        margin-left: 4%;
        margin-top: -4%;
    }
    .styleImage, .styleImagePLALOG {
        width: 117%;
        height: 65%;
       // margin-left: 34%;
    }
    .styleImage2, .styleImage2PLALOG {
        top: 12px;
    }
    .BackGroundLogoSPM {
        width: 29PX;
        height: 21PX;
    }
    .FlexTXT {
        width: 80%;
    }
    .txt-SPM {
        font-size: 10px;
    }
    .area3 {
        font-size: 8px;
        margin-left: 16%;
        margin-top: 6%;
    }
    .DateSPM {
        width: 29px;
        height: 16px;
        margin-left: -7%;
    }
    .workLeft, .workLeftPLALOG {
        width: 60%;
    }
    .txt-SPM2 {
        font-size: 8PX;
        margin-left: 5%;
        margin-top: -12%;
    }
    .btnVisitsite{
        font-size: 7px;
        border-radius: 5PX;
        margin-left: 12%;
    }
    .btnSPM,.btnPopupWorkPLALOG{
        font-size: 7px;
        border-radius: 5PX;
        margin-left: 162%;
    }
    .FlexBtn {
        margin-top: -13%;
    }
}

@media screen  and (max-width: 319px ) {
    .btnProfile3,.btnPosts3,.btneSkills3,.btnProjects3{
        width: 24%;
        font-size: 2vmin;
        padding: 2%;
    }
    .LineWork {
        width: 72%;
    }
    .PositionButton {
        margin-left: 4%;
    }
    .txt-style1 {
        font-size: 13px;
        margin-left: 4%;
    }
    .txt-style2 {
        font-size: 10px;
        margin-left: 4%;
    }
    .tableStyle {
        margin-top: -116%;
        width: 92%;
        margin-left: 4%;
    }
    .tableStylePlalog {
        width: 92%;
        margin-left: 4%;
        margin-top: -4%;
    }
    .styleImage, .styleImagePLALOG {
        width: 117%;
        height: 65%;
       // margin-left: 34%;
    }
    .styleImage2, .styleImage2PLALOG {
        top: 12px;
    }
    .BackGroundLogoSPM {
        width: 29PX;
        height: 21PX;
    }
    .FlexTXT {
        width: 80%;
    }
    .txt-SPM {
        font-size: 10px;
    }
    .area3 {
        font-size: 8px;
        margin-left: 16%;
        margin-top: 6%;
    }
    .DateSPM {
        width: 29px;
        height: 16px;
        margin-left: -7%;
    }
    .workLeft, .workLeftPLALOG {
        width: 60%;
    }
    .txt-SPM2 {
        font-size: 8PX;
        margin-left: 5%;
        margin-top: -12%;
    }
    .btnVisitsite{
        font-size: 7px;
        border-radius: 5PX;
        margin-left: 12%;
    }
    .btnSPM,.btnPopupWorkPLALOG{
        font-size: 7px;
        border-radius: 5PX;
        margin-left: 162%;
    }
    .FlexBtn {
        margin-top: -13%;
    }
}

