.btnProjects3{
    background: #F8ECE0;
    border: 0.5px solid #424242;
    border-bottom: 0cm;
    box-sizing: border-box;
    color: #424242;
    text-align: center;
    border-radius: 0px;
    }
.btnProfile3,.btnPosts3,.btneSkills3{
    background: #FBF8EF;
    color: #424242;
    border: 0ch;
    text-align: center;
    }
.btnProfile3{
    float: left;
    margin-left: 10%;
    }
.btnProfile3:hover,.btnPosts3:hover,.btneSkills3:hover,.btnProjects3:hover{
    animation-duration: 1s;
    background-color: #F8ECE0;
    }
.LineWork{
    width: 450;
    height: 1PX;
    float: right;
    margin-right: 54.2%;
    margin-top: 0.9PX;
    }
.space{
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@keyframes animation-image{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.styleImage{
    position: relative;
    width: 350px;
    height: 150px;
    margin-top: 15px;
}
.styleImage1{
    position: absolute;
    top: -14px;
    right: -3px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.styleImage2{
    position: absolute;
    top: 25px;
    right: -70px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
img{
    width: 100%;
    height: 100%;
}
.txt-style1{
    @include styleText();
    @include animationText();
    animation-name: animation-workTitle;
    animation-delay: 400ms;
    font-weight: bold;
    font-size: 38px;
    padding-top: 5%;
    width: 65%;
    opacity: 0;  
}
.txt-SPM{
    @include styleText();
    @include animationText();
    animation-name: animation-workTitle;
    animation-delay: 400ms;
    font-weight: bold;
    margin-left: 6%
    }
.txt-style2{
    @include styleText();
    //padding-top: 2%; 
    opacity: 0;
    @include animationText();
    animation-name: animation-workTitle;
    animation-delay: 800ms;
}
.txt-SPM2{
    @include styleText();
    //padding-top: 2%; 
    opacity: 0;
    @include animationText();
    animation-name: animation-workTitle;
    animation-delay: 800ms;
    margin-left: 2%;
    color: #777777;
}
@keyframes animation-workTitle{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.animate__swing{
animation-iteration-count: infinite;
}
.BackGroundLogoSPM{
    position: relative;
    background-color: #FBF8EF;
    border-radius: 2PX;
    width: 55PX;
    height: 36PX;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.imgLogoSPM{
    position: absolute;
    width: 33px;
    height: 32px;
    margin-left: 22%;
    margin-top: 3%;
}
.DateSPM{
    position: relative;
    background-color: #F8ECE0;
    width: 50px;
    height: 19PX;
    border-radius: 7px;
}
.area3 {
    position: absolute;
margin-left: 25%;
margin-top: 1%;
color: #424242;
font-size: 12px;
font-weight: bold;
letter-spacing: 0.5px;
animation: blur .75s ease-out infinite;
text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
@keyframes blur {
from {
    text-shadow:0px 0px 10px #fff,
    0px 0px 10px #fff, 
    0px 0px 25px #fff,
    0px 0px 50px hsl(209, 67%, 62%),
    0px 0px 150px #5da0df,
    0px 10px 100px #5da0df,
    }
}
.tailleLigne{
    width: 100%;
    height: 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btnVisitsite{
    background-color: $backgroundColor;
   // border: 0.5px solid $primary-color;
    color: $primary-color;
    border-radius: 12PX;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.btnVisitsite:hover,.btnPopupWork:hover{
    background-color:#F8ECE0 ;
    animation-duration: 1s;
}
.styleFlech{
    width: 1px;
    height: 166px;
    transform: rotate(-180deg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
//////////////////////////////- Flex -////////////////////////////
.tableStyle{
    display: flex;
    flex-direction: row;
    margin-left: $marginLeft;
    opacity: 0;
    @include animationText();
    animation-name: animation-image;
    animation-delay: 1200ms;
    margin-top: -27%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 2%;
    padding-right: 1%;
    padding-bottom: 2%;
    width: 85%;
}
.workLeft{
display: flex;
flex-direction: row;
width: 55%;
}
.FlexSPM{
display: flex;
flex-direction: row;
}
.FlexTXT{
    width: 38%;
}





