@import "style";

.btnProfile{
float: left;
margin-left: 1%;
background: #650000;
border: 0.5px solid $primary-color;
border-bottom: 0cm;
box-sizing: border-box;
color: $primary-color;
text-align: center;
border-radius: 0px;
}
.btnPosts,.btneSkills,.btnProjects{
background: black;
color: $primary-color;
border: 0ch;
text-align: center;
border-radius: 0px;
}
.btnProfile:hover,.btnPosts:hover,.btneSkills:hover,.btnProjects:hover{
    animation-duration: 1s;
    background-color: #3B3B3B;
}
.LIGNE{
    //width: 450PX;
    width: 39%;
    height: 2PX;
    //float: right;
    //margin-right: 48.9%;
    margin-left: 14%;
    margin-top: -2px;
}
.photoProfil{
    width: 142PX;
    height: 142PX;
    margin-left: 48%;
    float: left;
    margin-top: 10px;
}
.lien2 {  
    color:$primary-color;
    text-decoration: none;
}
.photoSvg1,.lien2{
    display: inline;
}
.TableLeft{
    float: left;
    width: 5PX;
    margin-left: -23%;
}
.tableRight{
    width: 1000PX;
    margin-bottom: -11px;
    margin-left: -45%;
}

.EcritureTitre{
    font-size: 16px;
    font-weight: bold;
}
.photoSvg2{
    width: 20px;
    height: 20px;
    margin-top: -4PX;
    //margin-left: 40%;
}
.photoSvg2,.EcritureTitre{
    display: inline;
}
.photoSvg{
    //width: 20px;
    //height: 20px;
    margin-left: 0px;
    margin-top: -9PX;
    width: 16%;
    height: 82%;
}
.photoSvg1{
    width: 20px;
    height: 20px;
    margin-top: 1PX;
    margin-left: 48%;
    margin-bottom: 6px;
}
.photoSvg3{
    width: 80px;
    height: 24px;
}
.FlexProfile{
    display: flex;
    flex-direction: row;
}
.PositionImg,.ProfileLeft{
    display: flex;
    flex-direction: column;
    width: 101%;
    margin-left: -11%;
    margin-top: 1%;
}
.ProfileRight{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}
.content__innerBackgroundAbout{
    grid-area: 1 / 1 / 1 / 1;
	position: relative;
	display: flex;
	flex-direction: column;
    //margin-bottom: 29%;
}
.PositionButton{
    position: relative;
    display: flex;
	flex-direction: column;
    margin-left: 7%;
    margin-top: 2%;
}
/*
.BtnMenuLine,.BtnMenu1{
    position: absolute;
}*/
.BtnMenuLine{
    display: flex;
    flex-direction: row;
}
.BtnMenu1{
    display: flex;
    flex-direction: row;
}


