
.btnProgramation{
    position: absolute;
    width: 189px;
    margin-left: 1369px;
    top: 1006px;
    background: #F8ECE0;
    color: #424242;
    border: 0.5px solid #BDBDBD;
    text-align: center;
}
.btnFramework{
    position: absolute;
    width: 189px;
    margin-left: 1368px;
    top: 1182px;
    background: #F8ECE0;
    color: #424242;
     border: 0.5px solid #BDBDBD;
    text-align: center;
}
.Line1H{
    position: absolute;
    width: 215px;
    height: 0px;
    left: 1232px;
    top: 1104px;
    border: 0.5px solid #BDBDBD;
    transform: rotate(90deg);
}
.Line2H{
    position: absolute;
    width: 87px;
    height: 0px;
    left: 1354px;
    top: 1103px;
    border: 0.5px solid #BDBDBD;
    transform: rotate(90deg);
}
.Line3H{
    position: absolute;
    width: 67px;
    height: 0px;
    left: 1368PX;
    top: 1269px;
    border: 0.5px solid #BDBDBD;
    transform: rotate(90deg);
}
.Line1{
    position: absolute;
    width: 29px;
    height: 0px;
    left: 1340px;
    top: 1035px;
    border: 0.5px solid #BDBDBD;
    transform: rotate(-180deg);
}
.Line2{
    position: absolute;
    width: 29px;
    height: 0px;
    left: 1340px;
    top: 1212px;
    border: 0.5px solid #BDBDBD;
    transform: rotate(-180deg);
}
.Line3{
    position: absolute;
    width: 29px;
    height: 0px;
    left: 1398px;
    top: 1084px;
    border: 0.5px solid #BDBDBD;
    transform: rotate(-180deg);
}
.Line4{
    position: absolute;
    width: 29px;
    height: 0px;
    left: 1397px;
    top: 1115px;
    border: 0.5px solid #BDBDBD;
    transform: rotate(-180deg);
}
.Line5{
    position: absolute;
    width: 29PX;
    height: 0px;
    left: 1398px;
    top: 1146px;
    border: 0.5px solid #BDBDBD;
    transform: rotate(-180deg);
}
.Line6{
    position: absolute;
    width: 29PX;
    height: 0px;
    left: 1401px;
    top: 1265px;
    border: 0.5px solid #BDBDBD;
    transform: rotate(-180deg);
}
.Line7{
    position: absolute;
    width: 29PX;
    height: 0px;
    left: 1401px;
    top: 1303px;
    border: 0.5px solid #BDBDBD;
    transform: rotate(-180deg);
}
.Label1{
    position: absolute;
    width: 57px;
    height: 14px;
    left: 1430px;
    top: 1077px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.Label2{
    position: absolute;
    width: 41px;
    height: 14px;
    left: 1433px;
    top: 1108px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.Label3{
    position: absolute;
    width: 32px;
    height: 14px;
    left: 1432px;
    top: 1140px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;

}
.Label4{
    position: absolute;
    width: 270px;
    height: 14px;
    left: 1432px;
    top: 1258px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.Label5{
    position: absolute;
    width: 151px;
    height: 14px;
    left: 1432px;
    top: 1295px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.positionGrid{
    position: relative;
    margin-left: -94%;
    margin-top: -79%;
}