/*.styleBE{
    position: relative;
    margin-left: 10%;
    margin-top: -1%;
    width: 246px;
    height: 219PX;
    border-radius: 0px 0PX 8PX 8PX;
    background-color: #F6E3CE;
    border: 0.5px solid #BDBDBD;
    border-top: 0;
}*/
.styleBE{
    position: relative;
    margin-left: 51.9%;
    margin-right: -2.7%;
    margin-top: -2%;
    width: 246PX;
    height: 219PX;
    border-radius: 0px 0PX 8PX 8PX;
    background-color: #F6E3CE;
    border: 0.5px solid #BDBDBD;
    border-top: 0;
}
.pointBE{
    position: absolute;
    width: 7px;
    height: 7px;
    margin-left: 6%;
    margin-top: 11%;
}
.pointBE2{
    position: absolute;
    width: 7px;
    height: 7px;
    margin-left: 6%;
    margin-top: 30%;
}
.styleEc{
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    margin-left: 12.5%;
    margin-top: 9%;
}
.styleEc2{
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    margin-left: 12.5%;
    margin-top: 28%;
}
.LabelBE{
    position: absolute;
    font-size: 12px;
    margin-left: 16.5%;
    padding-top: 48PX;
}
.LabelBE2{
    position: absolute;
    font-size: 12px;
    margin-left: 16.5%;
    padding-top: 90PX;
}