.styleBD{
    position: relative;
    margin-top: -2%;
    //width: 246PX;
    //height: 219PX;
    width: 78%;
    height: 168%;
    border-radius: 0px 0PX 8PX 8PX;
   // background-color: black;
    border: 0.5px solid $primary-color;
    //border-top: 0;
    margin-top: -5%;
}