body {
	--color-text: #C7C7C7;
	--color-bg: #000;
	--color-title: #C7C7C7;
	--color-subtitle: #C7C7C7;
	--color-subtitle-bg: #ac1122;
}
body {
	font-family: 'Barlow', Helvetica, Arial, sans-serif;
	font-weight: 500;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #000;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
main {
	position: relative;
	width: 100%;
}
.content__title {
	font-family: 'Playfair Display', serif;
	font-size: 5vw;
	font-weight: normal;
	color: var(--color-title);
	text-align: center;
	margin: 0;
	pointer-events: none;
}
.content__title2{
	text-align: center;
	margin: 0;
	//animation-iteration-count: infinite;
}
.content__subtitle {
	font-size: 1.25em;
	background: var(--color-subtitle-bg);
	color: var(--color-subtitle);
	padding: 0.45em 0.5em;
	line-height: 1;
	margin: 0;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	font-weight: bold;
	text-transform: uppercase;
}
.contentIndex {
	position: relative;
}
.contentIndexA {
	position: relative;
	display: grid;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0 auto;
	min-height: 100vh;
}
.scene {
	position: absolute;
}
.scene--full {
	width: 100%;
	height: 100vh;
}
.content__inner {
	grid-area: 1 / 1 / 1 / 1;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;	
}
.photoStyle{
	width: 39%;
	height: 30%;
	//animation-iteration-count: infinite;
}
.ColorFontawesome{
    color: $primary-color;
    animation-iteration-count: infinite;
}
/*
@media screen and (max-width: 55em) {
	.content__title {
		font-size: 3em;
	}
	.content__subtitle {
		font-size: 0.85em;
	}
}
@media screen  and (min-width: 320px ) and (max-width: 568px ) {
	.photoStyle {
		width: 40%;
	}
	.content__title {
		font-size: 27px;
	}
	.content__subtitle {
		font-size: 11px;
	}
}
/*
@media screen  and (min-width: 375px ) and (max-width: 667px ) {
	.photoStyle {
		width: 40%;
		//margin-TOP: -28%;
	}
	.content__title {
		font-size: 31px;
	}
	.content__subtitle {
		font-size: 12px;
	}
}

@media screen  and (min-width: 414px ) and (max-width: 736px ) {
	.photoStyle {
		width: 40%;
		//margin-TOP: -28%;
	}
	.content__title {
		font-size: 7vw;
	}
	.content__subtitle {
		font-size: 0.7em;
	}
}
@media screen  and (min-width: 375px ) and (max-width: 812px ) {
	.photoStyle {
		width: 46%;
		//margin-TOP: -28%;
	}
	.content__title {
		font-size: 33px;
	}
	.content__subtitle {
		font-size: 12px;
	}
}*/

///////////////////////- Responsive Design -/////////////////////
/*
@media screen  and (min-width: 1024px ) and (max-width: 1366px ) {
	.photoStyle {
		width: 52%;
	}
	.content__title {
		font-size: 62px;
	}
	.content__subtitle {
		font-size: 24px;
	}
}
@media screen  and (min-width: 768px ) and (max-width: 1023px ) {
	.photoStyle {
		width: 53%;
		mARGIN-TOP: -29%;
	}
	.content__title {
		font-size: 46px;
	}
	.content__subtitle {
		font-size: 17px;
	}
}*/
@media screen  and (min-width: 540px ) and (max-width: 767px ) {
	.photoStyle {
		width: 29%;
		margin-top: -17%;
	}
	.content__title {
		font-size: 33px;
	}
	.content__subtitle {
		font-size: 12px;
	}
}
@media screen  and (min-width: 375px ) and (max-width: 469px ) {
	.photoStyle {
		width: 40%;
		margin-top: -17%;
	}
	.content__title {
		font-size: 32px;
	}
	.content__subtitle {
		font-size: 12px;
	}
}
@media screen  and (min-width: 320px ) and (max-width: 374px ) {
	.photoStyle {
		width: 37%;
		margin-top: -17%;
	}
	.content__title {
		font-size: 27px;
	}
	.content__subtitle {
		font-size: 10px;
	}
}
@media screen  and (max-width: 373px ) {
	.photoStyle {
		width: 40%;
		//margin-top: -17%;
	}
	.content__title {
		font-size: 27px;
	}
	.content__subtitle {
		font-size: 10px;
	}
}


