.styleFE{
    margin-left: -74%;
    margin-top: -79%;
    width: 246px;
    height: 219PX;
    border-radius: 0px 0PX 8PX 8PX;
    background-color: #F6E3CE;
    border: 0.5px solid #BDBDBD;
    border-top: 0;
}