.positionGridFE{
    position: relative;
    margin-top: -2.2%;
    background-color: #F6E3CE;
    border: 0.5px solid #BDBDBD;
    border-top: 0;
    width: 246px;
    height: 219PX;
    margin-left: 53%;
    border-radius: 0px 0PX 8PX 8PX;
}
.star{
    margin-left: 1437PX;
    position: absolute;
    width: 117px;
    height: 20;
    margin-top: 1070PX;
}
.LabelF1{
    position: absolute;
    font-size: 12px;
    left: 1368px;
    top: 1068px;
    width: 77PX;
    }
.LabelF2{
    position: absolute;
    font-size: 12px;
    left: 1369px;
    top: 1111px;
    width: 72px;
}
.LabelF3{
    position: absolute;
    font-size: 12px;
    left: 1367px;
    top: 1153px;
    width: 77px;
}
.pointStyle{
    position: absolute;
    width: 5px;
    height: 5px;
    left: 1358px;
    top: 1075px;
    }
.btnProgramation,.btnFramework{
    position: absolute;
}

