/*
.styleFE,.styleDesign,.styleBE,.styleBD{
    margin-top: -2%;
    width: 78%;
    //height: 112%;
    height: auto;
    border-radius: 0px 0PX 8PX 8PX;
    border: 0.5px solid $primary-color;
    margin-top: -5%;
    box-shadow: 0px 1px 0px $primary-color;
}*/
.styleCard{
    width: 78%;
    height: 275px;
    border-radius: 0px 0PX 8PX 8PX;
    border: 0.5px solid $primary-color;
    margin-top: -5%;
    box-shadow: 0px 1px 0px $primary-color;
}
.FlexGridDetailTitre{
    display: flex;
    flex-direction: row;
}
.FlexGridDetailD{
    display: flex;
    flex-direction: column;
}
.ptD{
    width: 7px;
    height: 7px;
    margin-left: 5%;
    margin-top: 1.5%;
}
.txtTitreD{
    font-size: 12px;
    font-weight: bold;
    margin-left: 4%;
    color: $primary-color;
}
.TXTD{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-left: 12%;
    line-height: 2;
    color: $primary-color;
}
.postionPTD{
    width: 2%;
    margin-top: 2%;
    margin-left: 3%;
}

///////////////////////- Responsive Design -/////////////////////

@media screen  and (min-width: 625px ) and (max-width: 768px ) {
    .styleCard{
        width: 82%;
        height: 239px;
        margin-top: -7%;
    }
    .txtTitreD {
        font-size: 10px;
        margin-left: 5%;
        //width: 161%;
    }
    .TXTD{
        font-size: 10px;
    }
    .ptD {
        height: 6px;
    }
    .postionPTD{
        width: 2%;
        margin-top: 2%;
        margin-left: 3%;
    }
}
@media screen  and (min-width: 425px ) and (max-width: 469px ) {
    .styleCard{
        width: 82%;
        height: 175px;
        margin-top: -11%;
    }
    .txtTitreD {
        font-size: 6px;
        margin-left: 5%;
        //width: 161%;
    }
    .TXTD{
        font-size: 7px;
       // width: 5px;
    }
    .ptD {
        height: 4px;
        width: 4px;
    }
    .postionPTD{
        width: 2%;
        margin-top: 3%;
        margin-left: 3%;
    }
}
@media screen  and (max-width: 424px ) {
    .txtTitreD {
        font-size: 6px;
        //margin-left: 5%;
        //width: 161%;
    }
    .TXTD{
        font-size: 7px;
       // width: 5px;
    }
    .styleCard{
        height: 170px;
        margin-top: -11%;
    }
    .ptD {
        height: 4px;
        width: 4px;
    }
}