//$primary-color:#D0D0D0;
$primary-color:#C7C7C7;
//$backgroundColor:#F8ECE0;
$backgroundColor:#FBF8EF;
//$backgroundColor:#FAFAFA;
//$styleColor: #D77F4A;
$styleColor: #ac1122;
$font-stack:"robotoregular";
$marginLeft:10%;
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@mixin styleText {
    margin-left: $marginLeft;
    color:$primary-color;
    padding-bottom: 0%;
}
@mixin animationText {
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;  
}
p{
    margin-left: 4%;
}
.Liens{
        color:$styleColor;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: .02em;
}
/*----------------------Annimation Home---------------------------- */

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100% 50%;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  font-weight: bold;
}
.carousel-control-next-icon {
background-position-x: 0.2em;
}
.carousel {
margin-bottom: 4rem;
}
.carousel-caption {
z-index: 10;
bottom: 3rem;
}
.carousel-item {
height: 25rem;
background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: -3px;
  min-width: 102%;
  height: 26rem;
}
.marketing .col-lg-4 {
margin-bottom: 1.5rem;
text-align: center;
}
.marketing h2 {
font-weight: normal;
}
.marketing .col-lg-4 p {
margin-right: .75rem;
margin-left: .75rem;
}
.featurette-divider {
margin: 5rem 0; 
}
.featurette-heading {
font-weight: 300;
line-height: 1;
letter-spacing: -.05rem;
}
@media (min-width: 40em) {
.carousel-caption p {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.4;
}
.featurette-heading {
  font-size: 30px;
}
}
@media (min-width: 62em) {
.featurette-heading {
  margin-top: 7rem;
}
}
//////////////////////////
.flexPosition{
  display: flex;
  flex-direction: row;
}
.Taille{
  width: 37%;
  float: left;
  margin-left: 7%;
  margin-top: 2%;
  border-radius: 8px;
}
.carousel-inner {
  border-radius: 27%;
}
.TXT{
  width: 59%;
  float: right;
  margin-right: 7%;
  margin-top: 3%;
  margin-left: 9%;
}
.ImgHome{
  width: 100%;
  animation-duration: 1s;
}
/*
button{
  //background-color:#F8ECE0;
  width: 148px;
  margin-top: 10px;
  font-weight: bold;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 18px;
  border-radius: 8px;
  border: 0.5px solid #BDBDBD;
}*/
button{
  //background-color:#F8ECE0;
  width: 13%;
  margin-top: 2%;
  font-weight: bold;
  padding-bottom: 1%;
  padding-top: 1%;
  //font-weight: 100;
  font-weight: bold;
  //font-size: 18px;
  border-radius: 8px;
  border: 0.5px solid #BDBDBD;
}
.content__innerBackground{
	grid-area: 1 / 1 / 1 / 1;
	position: relative;
	display: flex;
	flex-direction: column;
}
.neons {
  display: flex;
  justify-content: center;
  //align-items: center;
  font-family: 'Codystar';
  font-size: 22PX;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
   from {
    color: #D0D0D0;
  text-shadow: 0 0 4px;
}

to {
   color: #737373;
  text-shadow: 0 0 8px;
}
}