$primary-color:#424242;
//$backgroundColor:#F8ECE0;
$backgroundColor:#FBF8EF;
$styleColor: #D77F4A;
$font-stack:"robotoregular";
$marginLeft:7%;
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@mixin styleText {
    margin-left: $marginLeft;
    color:$primary-color;
    padding-bottom: 2%;
}
@mixin animationText {
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;  
}
body{
    overflow: auto;
    background-color: $backgroundColor;
    font-family: $font-stack;
}

header{
    overflow: auto;
    background-color:#F8ECE0;
}
nav{
    float: right;
    margin-right: 10%;
    margin-top: 2%;
}
nav ul li:hover{
    background-color:#FBF8EF;
    animation-duration: 1s;
    padding-top: 7%;
    padding-bottom: 6.5%;
}
nav ul li{
    display: inline;
    margin-left:20PX;
    a {
        padding: 10px;
        color:$primary-color;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: .02em;
    }
}
header img,nav{
	display: inline;
}

.imgPricipale{
    width: 300px;
    float: right;
	margin-right: 10%;
	height:345px;
	margin-top: 1%;  
}
.logo {
	width: 120px;
	float: left;
	margin-left: 10%;
	height: 60px;
	margin-top: 8px;
    margin-bottom: 8px;
}
.area {
  margin-top:4%;
  //text-align: center;
  font-size: 30PX;
  color: $styleColor;
  letter-spacing: 0.5px;
  font-weight: 500;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
  margin-left: 10%;
}
@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #5da0df,
      0px 0px 150px #5da0df,
      0px 10px 100px #5da0df,
      0px 10px 100px #5da0df,
      0px 10px 100px #5da0df,
      0px 10px 100px #5da0df,
      0px -10px 100px #5da0df,
      0px -10px 100px #5da0df;
  }
}
p{
    margin-left: 10%;
}
.Liens{
        color:$styleColor;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: .02em;
}
