.btnBackend{
    position: absolute;
    width: 136px;
    height: 47px;
    left: 1279px;
    top: 937px;
}
.btnProgramation{
    position: absolute;
    width: 136;
    height: 47;
    left: 1405px;
    top: 1004px;
}
.btnFramework{
    position: absolute;
    width: 136;
    height: 47;
    margin-left: 1405px;
    top: 1182px;
}
.Line1H{
    position: absolute;
    width: 223px;
    height: 0px;
    left: 1232px;
    top: 1104px;
    border: 2px solid #BDBDBD;
    transform: rotate(90deg);
}
.Line2H{
    position: absolute;
    width: 87px;
    height: 0px;
    left: 1429px;
    top: 1103px;
    border: 2px solid #BDBDBD;
    transform: rotate(90deg);
}
.Line3H{
    position: absolute;
    width: 67px;
    height: 0px;
    left: 1442px;
    top: 1271px;
    border: 2px solid #BDBDBD;
    transform: rotate(90deg);
}
.Line1{
    position: absolute;
    width: 60px;
    height: 0px;
    left: 1345px;
    top: 1035px;
    border: 2px solid #BDBDBD;
    transform: rotate(-180deg);
}
.Line2{
    position: absolute;
    width: 61px;
    height: 0px;
    left: 1344px;
    top: 1214px;
    border: 2px solid #BDBDBD;
    transform: rotate(-180deg);
}
.Line3{
    position: absolute;
    width: 60px;
    height: 0px;
    left: 1474px;
    top: 1084px;
    border: 2px solid #BDBDBD;
    transform: rotate(-180deg);
}
.Line4{
    position: absolute;
    width: 60px;
    height: 0px;
    left: 1474px;
    top: 1112px;
    border: 2px solid #BDBDBD;
    transform: rotate(-180deg);
}
.Line5{
    position: absolute;
    width: 60px;
    height: 0px;
    left: 1474px;
    top: 1145px;
    border: 2px solid #BDBDBD;
    transform: rotate(-180deg);
}
.Line6{
    position: absolute;
    width: 60px;
    height: 0px;
    left: 1477px;
    top: 1265px;
    border: 2px solid #BDBDBD;
    transform: rotate(-180deg);
}
.Line7{
    position: absolute;
    width: 60px;
    height: 0px;
    left: 1477px;
    top: 1303px;
    border: 2px solid #BDBDBD;
    transform: rotate(-180deg);
}
.Label1{
    position: absolute;
    width: 57px;
    height: 14px;
    left: 1570px;
    top: 1085px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    
    
    color: #000000;
}
.Label2{
    position: absolute;
width: 41px;
height: 14px;
left: 1574px;
top: 1117px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #000000;

}
.Label3{
    position: absolute;
width: 32px;
height: 14px;
left: 1574px;
top: 1151px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #000000;

}
.Label4{
    position: absolute;
width: 270px;
height: 14px;
left: 1570px;
top: 1264px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #000000;

}
.Label5{
    position: absolute;
width: 151px;
height: 14px;
left: 1570px;
top: 1300px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #000000;

}
.positionGrid{
    position: relative;
    margin-left: 5%;
    margin-top: 5%;
   
}