.tableStylePlalog{
    display: flex;
    flex-direction: row;
    margin-left: $marginLeft;
    opacity: 0;
    @include animationText();
    animation-name: animation-image;
    animation-delay: 1200ms;
    margin-top: 2%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 2%;
    padding-right: 1%;
    padding-bottom: 2%;
    width: 85%;
}
/////////////////POPIN PLALOG///////////////////

.btnPopupWorkPLALOG{
    background-color:#F8ECE0;
    border: 0ch;
    color: $primary-color;
    border-radius: 12PX;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   // border: 0.5px solid $primary-color;
    margin-left: 6%;
}
.overlayWorkPLALOG {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    display:none;
}
.popupWorkPLALOG{
    margin-top: 2%;
    margin-left: 4%;
    margin-bottom: 2%;
    width: 92%;
    height: 92%;
    background-color: $backgroundColor;
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
 }
 ////////////////////////// ----- Slik PLALOG -----  /////////////////////////////////
 .SlickDetailsPLALOG{
    padding-left: 2px;
 }
 .sliderPLALOG{
     height: 28%;
     margin-top: 2%;
 }
 .sliderPLALOG .SlickDetailsPLALOG{
     margin: 20px;
     position: relative;
 }
 .sliderPLALOG .slick-center .imgSlikPLALOG{
   transform: scale(1.2);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
 .imgSlikPLALOG{
     border-radius: 8px;
     transition: all linear .4s;
 } 
 ////////////////////////////////////////////////
