////////////////////////SLICK/////////////////////////
.SlickDetails{
    padding-left: 0.2%;
 }
 .slider{
     //height: 28%;
     height: 16%;
     margin-top: 2%;
 }
 .slider .SlickDetails{
    // margin: 20px;
    margin: 0.5%;
    // position: relative;
 }
 .slider .slick-center .imgSlik{
   transform: scale(1.2);
   box-shadow: 0px 4px 4px $primary-color;
 }
 .imgSlik{
     border-radius: 8px;
     transition: all linear .4s;
 } 
//////////////////////////////////////////POPIN///////////////////////////////////

.overlayWork {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    display:none;
}
.popupWork{
    margin-top: 2%;
    margin-left: 4%;
    margin-bottom: 2%;
    width: 92%;
    height: 92%;
    background-color: black;
    padding: 1em;
    //box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px #fff;
    border-radius: 5px;
 }
 .btnCloseWork {
    font-size: 22pt;
    //font-size: bo;
    font-weight: bold;
    width: 50PX;
    height: 50PX;
    margin-left: 98%;
    margin-top :-3%;
    color: #1a1a1a;
}
.ConPopinWork{
    //position: fixed;
    z-index: 5;
    //margin-left: 10%;
}
/////////////////////////////////////////////////////////////
.TxtSPM{
    padding-top: 2%;
    font-size: 200;
    font-weight: bold;
}
.txt-SPMDetail{
    color: $primary-color;
    font-weight: bold;
    font-size: 39px;
    text-align: center;
}
.popupWork{
    display: flex;
    flex-direction: column;
}
.GridWorkDetailTitre{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.GridWorkDetail{
    display: flex;
    flex-direction: row;
}
.ObjecSPM,.technoSPM{
   // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px #fff;
    border-radius:3Px 3PX 0 0;
    width: 50%;
    color: $primary-color;
    font-weight: bold;
    text-align: center;
    background-color: #650000;
}
.ObjecSPM,.ObjecSPM-Detail{
   width: 49%;
   margin-left: 2%;
   box-shadow: 0px 4px 4px #484848;
}
.technoSPM,.technoSPM-Detail{
    width: 50%;
    margin-left: 1%;
    margin-right: 2%;
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px #484848;
}
.ObjecSPM-Detail,.technoSPM-Detail{
    display: flex;
    flex-direction: column;
    //height: 117%;
    //width: 50%;
    margin-top: -1%;
    border-radius: 0 0 3PX 3px;
    display: flex;
    flex-direction: column;
}
////////////////////////Flex/////////////////

.FlexPopin{
    display: flex;
    flex-direction: column;
}
.FlexPopinWork{
    display: flex;
    flex-direction: column;
}

///////////////////////- Responsive Design -/////////////////////

@media screen  and (min-width: 540px ) and (max-width: 767px ) {
    .FlexPopinWork {
        margin-top: 2%;
    }
    .popupWork {
        margin-top: 4%;
        height: 95%;
    }
}
@media screen  and (min-width: 375px ) and (max-width: 469px ) {
    .txt-SPMDetail {
        font-size: 20px;
        margin-top: -3%;
    }
    .ObjecSPM, .ObjecSPM-Detail{
        font-size: 12px;
    }
    .technoSPM, .technoSPM-Detail {
        font-size: 12px;
    }
    .FlexPopinWork {
        margin-top: 4%;
    }
    .btnCloseWork {
        width: 40PX;
        height: 40PX;
        margin-left: 98%;
        margin-top: -6%;
    }
    .popupWork{
        margin-top: 33%;
        height: 63%;
    }
    .slider{
        height: 13%;
    }
    .overlayWork {
        background-color: BLACK;
    }
    
}
@media screen  and (min-width: 320px ) and (max-width: 374px ) {
    .txt-SPMDetail {
        font-size: 17px;
    }
    .slider {
        height: 12%;
    }
    .ObjecSPM, .ObjecSPM-Detail {
        font-size: 12px;
    }
    .technoSPM, .technoSPM-Detail {
        font-size: 12px;
    }
    .FlexPopinWork {
        margin-top: 2%;
    }
    .btnCloseWork {
        width: 38PX;
        height: 38PX;
        margin-top: -7%;
    }
    .popupWork{
        margin-top: 22%;
        height: 81%;
    }
}
@media screen  and (max-width: 319px ) {
    .txt-SPMDetail {
        font-size: 15px;
    }
    .slider {
        height: 10%;
    }
    .ObjecSPM, .ObjecSPM-Detail {
        font-size: 12px;
        width: 55%;
        //height: 97%;
    }
    .technoSPM, .technoSPM-Detail {
        font-size: 12px;
        //height: 97%;
    }
    .FlexPopinWork {
        margin-top: 2%;
    }
    .btnCloseWork {
        width: 35PX;
        height: 35PX;
        margin-top: -10%;
    }
    .popupWork{
        margin-top: 24%;
        height: 72%;
    }
}
